.landing {
  height: 100vh;
  width: 100vw;
  background-image: url('/background.jpg');
  background-repeat: round;
}

.nav {
  display: flex;
  justify-content: flex-end;
  border: 1px solid black;
  width: 100%;
  height: 25px;
}
