.loading {
  height: 100px;
}

.loading > svg {
  width: 100%;
  height: 100%;
}

.loading path {
  fill: rgb(169 165 138);
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0%   { fill: rgb(169 165 138) }
  40% { fill: rgb(109 92 83) }
  60% { fill: rgb(109 92 83) }
  100% { fill: rgb(169 165 138) }
}
